:root {
  --main-bg-color-blue: #00e0d4;
  --main-bg-color-red: #ff3300;
  --box-color: white;
}

html,
body {
  height: 100%;
}

body {
  /* background-color: var(--main-bg-color-blue); rgb(0, 140, 255)*/
  background-image: linear-gradient(
    to top,
    rgb(183, 240, 240),
    var(--main-bg-color-blue)
  );
  align-items: center;
  height: 100vh;
}

.navbar {
  background-color: white;
  font-size: 2em;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  display: flex;
  position: fixed;
  justify-content: center;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  margin: 0px 0px 30px 0px;
}

.boxes {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.boxes button {
  background-color: var(--main-bg-color-red);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.left {
  background-color: var(--box-color);
  height: 300px;
  width: 300px;
  margin: 5px 35px 5px 5px;
  border-radius: 5px;
  box-shadow: 12px 12px 2px rgba(0, 0, 0, 0.2);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.left p {
  font-size: xx-large;
}

.sign-up-button button {
  font-size: 20px;
  border-color: black;
  color: white;
  width: 150px;
  height: 75px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.sign-up-button button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.sign-up-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sign-up-button:hover span {
  padding-right: 20px;
}

.sign-up-button:hover span:after {
  opacity: 1;
  right: 0;
}

.model {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.model-content {
  background: #f4f4f4;
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 3px;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.close-btn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1.5rem;
  z-index: 1;
}

.close-btn:hover {
  cursor: pointer;
  color: #f9423d;
  transition: 0.2s ease-out;
}

.model-content-left {
  background: linear-gradient(
    90deg,
    rgba(247, 74, 70, 1) 0%,
    rgba(236, 43, 0, 1) 100%
  );
  border-radius: 0 3px 3px 0;
  position: relative;
}

#model-img {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.model-content-right {
  border-radius: 0 3px 3px 0;
  position: relative;
}

.model-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.model-form h1 {
  font-size: 1rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
}

.form-validation {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-validation.error {
  margin-bottom: 1.5rem;
  position: relative;
  border: 1px solid #f9423d;
  border-radius: 2px;
}

.form-validation.valid {
  margin-bottom: 0.5rem;
  position: relative;
  border: 1px solid #0add0a;
  border-radius: 2px;
}

.form-validation p {
  font-size: 0.7rem;
  margin-top: 0.5rem;
  color: #f9423d;
  position: absolute;
  top: 1.8rem;
  display: none;
}

.form-validation.error p {
  display: block;
}

.model-input {
  display: block;
  padding-left: 0.5rem;
  outline: none;
  border-radius: 2px;
  border: none;
  height: 2rem;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.model-input::placeholder {
  color: #b1b1b1;
}

.model-input-btn {
  width: 80%;
  height: 4rem;
  border-radius: 2px;
  background-color: #f9423d;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.model-input-btn:hover {
  cursor: pointer;
  background-color: #337af1;
  transition: all 0.4s ease-out;
}

@media screen and (max-width: 768px) {
  .model-content-left {
    display: none;
  }
  .model-content {
    grid-template-columns: auto;
    margin: 15% auto;
    width: 70%;
    height: 75%;
  }
}

@media screen and (max-width: 580px) {
  .model-content {
    margin: 20% auto;
    width: 90%;
    height: 80%;
  }
}

.center {
  background-color: var(--box-color);
  height: 300px;
  width: 300px;
  margin: 5px 35px 5px 35px;
  border-radius: 5px;
  box-shadow: 12px 12px 2px rgba(0, 0, 0, 0.2);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.center p {
  font-size: xx-large;
}

.login-button button {
  font-size: 20px;
  border-color: black;
  color: white;
  width: 150px;
  height: 75px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-decoration: none;
}

.login-button button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.login-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.login-button:hover span {
  padding-right: 20px;
}

.login-button:hover span:after {
  opacity: 1;
  right: 0;
}

.log-model {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.log-model-content {
  background: #f4f4f4;
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 3px;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.close-btn-log {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1.5rem;
  z-index: 1;
}

.close-btn-log:hover {
  cursor: pointer;
  color: #f9423d;
  transition: 0.2s ease-out;
}

.model-content-left-log {
  background: linear-gradient(
    90deg,
    rgba(247, 74, 70, 1) 0%,
    rgba(236, 43, 0, 1) 100%
  );
  border-radius: 0 3px 3px 0;
  position: relative;
}

#model-img {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.model-content-right-log {
  border-radius: 0 3px 3px 0;
  position: relative;
}

.model-form-log {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.model-form-log h1 {
  font-size: 1rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
}

.form-validation-log {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-validation-log.error {
  margin-bottom: 1.5rem;
  position: relative;
  border: 1px solid #f9423d;
  border-radius: 2px;
}

.form-validation-log.valid {
  margin-bottom: 0.5rem;
  position: relative;
  border: 1px solid#0add0a;
  border-radius: 2px;
}

.form-validation-log p {
  font-size: 0.7rem;
  margin-top: 0.5rem;
  color: #f9423d;
  position: absolute;
  top: 1.8rem;
  display: none;
}

.form-validation-log.error p {
  display: block;
}

.model-input-log {
  display: block;
  padding-left: 0.5rem;
  outline: none;
  border-radius: 2px;
  border: none;
  height: 2rem;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.model-input-log::placeholder {
  color: #b1b1b1;
}

.model-input-btn-log {
  width: 80%;
  height: 4rem;
  border-radius: 2px;
  background-color: #f9423d;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.model-input-btn-log:hover {
  cursor: pointer;
  background-color: #337af1;
  transition: all 0.4s ease-out;
}

@media screen and (max-width: 768px) {
  .model-content-left-log {
    display: none;
  }
  .log-model-content {
    grid-template-columns: auto;
    margin: 15% auto;
    width: 70%;
    height: 75%;
  }
}

@media screen and (max-width: 580px) {
  .log-model-content {
    margin: 20% auto;
    width: 90%;
    height: 80%;
  }
}

.right {
  background-color: var(--box-color);
  height: 300px;
  width: 300px;
  margin: 5px 5px 5px 35px;
  border-radius: 5px;
  box-shadow: 12px 12px 2px rgba(0, 0, 0, 0.2);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.right p {
  font-size: xx-large;
}

.contact-us-button button {
  font-size: 20px;
  border-color: black;
  color: white;
  width: 150px;
  height: 75px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.contact-us-button button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.contact-us-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.contact-us-button:hover span {
  padding-right: 20px;
}

.contact-us-button:hover span:after {
  opacity: 1;
  right: 0;
}

#popupbox {
  margin: 0;
  margin-left: 30%;
  margin-top: 10%;
  padding-top: 10px;
  width: 40%;
  height: 50%;
  position: relative;
  background: #fbfbf0;
  border: solid #000000 2px;
  z-index: 9;
  font-family: arial;
  visibility: hidden;
}

#popupbox-bg {
  height: 100vh;
  position: absolute;
  overflow: visible;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}
