.dashboard {
  background-color: #96a8af;
  --column-count: 2;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  grid-gap: var(--spacing);
}

.dashboard__item {
  flex: 1 1 50%;
  grid-column-end: span 2;
  padding: calc(var(--spacing) / 2);
}

.dashboard__item--full {
  flex-basis: 100%;
  grid-column: 1/-1;
}

.card {
  border-radius: 5px;
  height: 100%;
  font-weight: 300;
  background-color: #fff;
  border: 1px solid #e6eaee;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card__header {
  padding: 20px 30px;
  border-bottom: 1px solid #e6eaee;
  font-size: 2em;
  font-weight: 700;
  color: #313541;
  font-family: "Work Sans", sans-serif;
}
.card__item {
  padding: 20px 30px;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  height: auto;
  margin: 50px auto;
}

.title {
  color: #313541;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 900;
  text-decoration: underline;
  font-family: "Work Sans", sans-serif;
}

.firstPage {
  display: flex;
  justify-content: space-evenly;
}

.thirdPage {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.inputPage .label {
  font-size: 1.5em;
  color: #212121;
  text-align: center;
  text-transform: capitalize;
  margin-right: 10px;
  margin-top: 20px;
}

.search {
  font-size: 1.2em;
  color: #212121;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
  margin-top: 8px;
  height: 70%;
  margin-left: 30px;
  background-color: rgb(58, 58, 58);
  width: 20%;
  border-radius: 20px;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  padding: 12px 20px;
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.search:hover {
  transform: translateY(-7px);
  box-shadow: 0px 15px 20px rgba(0, 82, 14, 0.4);
  color: #fff;
  background-color: rgb(69, 197, 69);
}

.inputPage .label2 {
  font-size: 1.5em;
  color: #212121;
  text-align: center;
  text-transform: capitalize;
  margin-right: 30px;
  margin-top: 20px;
}

.inputPage,
.inputPage .item {
  margin-bottom: 20px;
  text-align: center;
}

.item {
  display: flex;
}

.item2 {
  display: flex;
}

.item3 {
  display: flex;
}

.inputPage,
.inputPage .item2 {
  margin-bottom: 20px;
  text-align: center;
}

.inputPage,
.inputPage .item3 {
  margin-bottom: 20px;
  text-align: center;
}

.inputPage .input {
  place-items: center;
  font-size: 1.5em;
}

input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0px;
  font-size: 1.5em;
  border: 2px solid black;
  border-radius: 10px;
  font-family: "Work Sans", sans-serif;
}

.secondPage {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.finish_pay_btn {
  font-size: 1.2em;
  color: #212121;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
  margin-top: 8px;
  margin-left: 30px;
  background-color: rgb(58, 58, 58);
  width: 100%;
  border-radius: 20px;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  padding: 20px 20px;
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.finish_pay_btn:hover {
  transform: translateY(-7px);
  box-shadow: 0px 15px 20px rgba(0, 82, 14, 0.4);
  color: #fff;
  background-color: rgb(69, 197, 69);
}
