.sidebar {
  background: #57c478;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
}

.sidebar a{
  color: white;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 2px solid white;
  padding: 10px 5px 10px 5px;
}

.sidebar a:hover{
  background-color: rgba(red, green, blue, 0.2);
}

.sidebar h1{
  color: white;
  border-bottom: 2px solid white;
}