:root {
  --bg-color: #e5e5e5;
  --bcn-orange: #57c478;
  --bcn-orange-light: #57c478;
  --bcn-orange-dark: #57c478;
  --black: #333;
  --white: #f5f5f5;
  --text-color: #555;
  --border-color: rgb(238, 238, 238);
  --border-style: 1px solid var(--border-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

.user {
  --spacing: 1rem;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  height: 100vh;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "header header" "nav    main" "footer footer";
}
.user__header {
  display: flex;
  flex-basis: 100%;
  grid-area: header;
  height: 80px;
  background-color: #313541;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
}
.user__nav {
  height: 100%;
  flex: 0 0 300px;
  grid-area: nav;
  background-color: #313541;
}

a {
  color: #dc5a60;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex: 0 0 300px;
  height: 80px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  color: #fff;
  background-color: var(--bcn-orange);
  font-size: 1rem;
}
.logo h1 {
  margin: 0;
}

.logo h1:hover{
  color: #313541;
}

.toolbar {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0 var(--spacing);
  justify-content: space-between;
}

.toolbar p{
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
}

.menu {
  list-style-type: none;
  padding: 0;
}
.menu__title {
  display: block;
  padding: 2rem 2rem 0.5rem;
  color: #76808f;
  font-weight: 700;
}

.menu__link {
  display: block;
  padding: 10px 30px;
  color: #76808f;
  text-decoration: none;
}
.menu__link.is-active {
  color: #fff;
  background-color: var(--bcn-orange-dark);
  border-left: 3px solid var(--bcn-orange);
}
.menu__link:hover, .menu__link:focus {
  color: white;
  background-color: var(--bcn-orange-light);
}

.btn {
  display: inline-block;
  border-radius: 5em;
  border: 0;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}
.btn--primary {
  font-family: "Work Sans", sans-serif;
  color: #fff;
  background-color: #56bf89;
}

.btn--primary:hover{
  color: #313541;
}

.dashboard{
  background-color: #96a8af;
}