.dashboard {
  background-color: #96a8af;
  --column-count: 2;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  grid-gap: var(--spacing);
}

.dashboard__item {
  flex: 1 1 50%;
  grid-column-end: span 2;
  padding: calc(var(--spacing) / 2);
}

.card:hover{
  color: white;
  background-color: rgb(69, 197, 69);
}

.dashboard__item--full {
  flex-basis: 100%;
  grid-column: 1/-1;
}
.dashboard__item--col {
  flex-basis: calc(100% / var(--column-count));
  grid-column-end: span 1;
}
@media screen and (min-width: 48rem) {
  .dashboard {
    --column-count: 4;
  }
}
@supports (display: grid) {
  .dashboard {
    margin: 0;
  }
  .dashboard__item {
    padding: 0;
  }
}

.card {
  border-radius: 5px;
  height: 100%;
  font-weight: 300;
  background-color: #fff;
  border: 1px solid #e6eaee;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card__header {
  font-family: "Work Sans", sans-serif;
  font-size: 2em;
  padding: 20px 30px;
  border-bottom: 1px solid #e6eaee;
  font-weight: 700;
}
.card__item {
  padding: 20px 30px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}